body{
    margin-top: 6vh;
    background-color: black;
}

.img-top{
    height: 30vh;
    background-image: url(../img/bebidas/Fondobebida.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.text-drink{
    height: 100%;
    font-size: xx-large;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.navbar-toggler{
    background-color: white;
}

@media (min-width:700px){
    .img-top{
        background-image: url(../img/bebidas/BebidaGrande.jpeg);
    }
}